Repository AFKabl3/AIChess, pull requests merged in 2024-12, with the labels that each got.

#40 Update frontend api
  frontend/src/api/api.js
  frontend/src/api/chess.js
  frontend/src/components/difficultySelect/DifficultySelect.jsx
  frontend/src/hooks/useChess.js
  frontend/src/hooks/useConfig.js
  frontend/src/pages/ChessPage/ChessPage.jsx
Labels: frontend

#41 Fixing concurrency requests + implementing get_game_status endpoint
  .github/workflows/test_backend.yml
  backend/README.md
  backend/api.md
  backend/app/LLM_engine/main_coach.py
  backend/app/routes.py
  backend/requirements.txt
  backend/test/requests.http
  backend/test/requests_&_responses.http
Labels: backend

#46 Task #152: evaluation bar
  frontend/src/api/api.js
  frontend/src/api/chess.js
  frontend/src/components/victoryBar/VictoryBar.jsx
  frontend/src/hooks/useChess.js
  frontend/src/pages/ChessPage/ChessPage.jsx
Labels: frontend

#48 Percentage of winning
  backend/app/LLM_engine/llm.py
  backend/app/Stockfish_engine/stockfish_engine.py
  backend/test/requests.http
  backend/test/requests_&_responses.http
  frontend/src/api/api.js
  frontend/src/api/chess.js
  frontend/src/components/dialogComponent/DialogComponent.jsx
  frontend/src/components/victoryBar/VictoryBar.jsx
  frontend/src/hooks/useChess.js
  frontend/src/pages/ChessPage/ChessPage.jsx
Labels: bug, frontend, backend

#44 More explanation endpoint implemented in the backend
  backend/api.md
  backend/app/LLM_engine/main_coach.py
  backend/app/LLM_engine/utils/utils.py
  backend/app/routes.py
  backend/test/requests.http
  backend/test/requests_&_responses.http
  frontend/src/api/api.js
  frontend/src/api/chess.js
Labels: backend

#43 Display error message when something goes wrong in the BE
  frontend/src/api/chess.js
  frontend/src/api/request.js
  frontend/src/pages/ChessPage/ChessPage.jsx
Labels: frontend
