Repository AFKabl3/AIChess, pull requests merged in 2025-01, with the labels that each got.

#49 Refactor readme
  README.md
  backend/README.md
  frontend/README.md
Labels: documentation

#53 remove ask question endpoint
  backend/README.md
  backend/app/LLM_engine/llm.py
  backend/app/LLM_engine/main_coach.py
  backend/app/Stockfish_engine/utils/utils.py
  backend/app/routes.py
  backend/test/requests.http
  backend/test/requests_&_responses.http
  frontend/package-lock.json
Labels: backend

#47 Error handling refactor
  .gitignore
  backend/app/LLM_engine/main_coach.py
  backend/app/Stockfish_engine/stockfish_engine.py
  backend/app/Stockfish_engine/utils/utils.py
  backend/app/error_handlers.py
  backend/app/routes.py
  backend/test/requests.http
  backend/test/requests_&_responses.http
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dialogComponent/DialogComponent.jsx
  frontend/src/hooks/useChess.js
  frontend/src/util/chessUtil.js
Labels: backend

#56 Re add package.json
  .gitignore
  backend/README.md
  frontend/.gitignore
  frontend/package.json
Labels: bug, documentation
